.detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    position: relative;
    /* border: 1px solid red; */
}
.container {
    padding: 30px;
    width: 75%;
    border-right: 1px solid #ccc;
    min-height: 100vh;
    position:  relative;
    /* border: 1px solid red; */
}

.breadcrumb {
    /* border: 1px solid #da1c1c; */
    position: absolute;
    top: 10px;
    left: 4px;
    font-size: 12px;
    /* border-bottom: 1px solid #ccc; */
    background-color: #e4e2e221;
    padding-bottom: 0px;
    padding: 4px 10px;
    min-width: 50%;
}

.breadcrumb ul {
    display: flex;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.breadcrumb ul li.separator {
    /* border: 1px solid red; */
    margin-top: 2px;
}

h1 {
    font-size: 30px;
    color: #333;
    text-align: center;
    /* text-transform: capitalize; */
    letter-spacing: 1px;
    margin-top: 30px;
}

.postData {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    margin-top: 20px;
    /* border: 1px solid #ccc; */
    font-size: 13px;
    font-weight: 400;
    justify-content: center;
    font-style: italic;
}

.postThumbnail {
    margin-top: 20px;
    margin: auto;
    /* border: 1px solid #bd1111; */
    margin-top: 24px;
    text-align: center;
    position: relative;
}

.postThumbnail img {
    width: 100%;
    height: 460px;
    /* border: 1px solid red; */
    filter: grayscale(45%);
}

.postContent {
    margin-top: 20px;
    /* border: 1px solid #bd1111; */
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.shareButtons {
    position: absolute;
    top: 0;
    /* right: 0px; */
    /* border: 1px solid red; */
    left: 0px;
    z-index: 10;
    background-color: white;
    padding: 6px;
    /* border-bottom-right-radius: 10px; */
}

.shareButtons ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    padding-right: 10px;
}
.shareButtons ul li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 25px;
}

.shareButtons ul li a {
    /* font-size: 30px; */
    color: #333;
}










/* responsive mobile */
@media (max-width: 768px) {
    .detail {
        /* flex-direction: column; */
        display: block;
        width: 100%;
        padding: 12px;
        /* margin: 0; */
        /* border: 1px solid red; */
    }
    .container {
        width: 100%;
        border-right: none;
        padding: 4px;
        margin-top: 10px;
    }

    .detail h1 {
        font-size: 24px;
        margin-top: 50px;
    }

    .postData {
        font-size: 9px;
        /* display: block; */
    }

    .postThumbnail img {
        height: 200px;
    }

    .breadcrumb {
        top: 0px;
        /* border: 1px solid red; */
    }

    .shareButtons {
        padding: 0px;
        /* border: 1px solid red; */
        border-radius: 0;
    }

    .shareButtons ul li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 20px;
}
}