.article {
    /* border: 1px solid red; */
    /* min-width: 1950px; */
    min-height: 100vh;
    background-color: white;
    /* border: 1px solid rgba(70, 68, 68, 0.282); */
    /* padding: 10px; */
}

h3 {
    font-weight: 500;
}

.article table {
    border: 1px solid rgba(162, 160, 160, 0.501);
    margin-top: 20px;
    /* box-sizing: border-box; */
    border-collapse: collapse;
    min-width: 100%;
    font-size: 14px;
}
.article table tr th {
    padding: 10px;
    text-transform: capitalize;
    font-weight: 500;
    background-color: rgba(220, 220, 220, 0.826);
    margin: 0;
    /* text-align: left; */
}

.article table tr td {
    /* padding: 10px; */
    padding: 4px 10px;
    text-align: center;
}

.article table tr td:nth-child(4) {
    text-transform: capitalize;
}
