.createArtikel {
    /* border: 1px solid blue ; */
    /* background-color: red !important; */
}

.createArtikel h3 {
    text-transform: capitalize;
    /* font-size: 17px; */
     font-weight: 500;
}

.formArea {
    margin-top: 20px;

}

.formGroup {
    display: flex;
    flex-direction: column;
}
.formGroup label {
    margin-bottom: 10px;
    font-size: 16px;
}

.formGroup input {
    padding: 7px;
    outline: none;
}

.editorArea {
    border: 1px solid rgb(218, 218, 224);
    margin-top: 30px;
    padding: 8px;
    min-height: 300px;
}

.editorArea label {
font-size: 16px;
}

.btn  {
    border: none;
    margin-top: 20px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    width: 100px;
    background-color: rgb(31, 31, 31);
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.information {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 15px;
    font-style: italic;
    color: rgb(51, 51, 243);
}

.flashMessage {
    /* border: 1px solid red; */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    /* background-color: rgba(64, 59, 59, 0.268); */
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.boxInformation {
    /* border: 1px solid red; */
    display: flex;
}

.boxInformation span:nth-child(2) {
    /* border: 1px solid blue; */
    text-align: center;
    margin-left: 20px;
    padding: 20px;
    color: rgba(0, 0, 255, 0.656);
    font-size: 17px;
    font-style: italic;
}