.artikelListWrapper {
    min-height: 100vh;
    background-color: white;
}

h3 {
    font-weight: 500;
}

table {
    border: 1px solid rgba(162, 160, 160, 0.501);
    margin-top: 20px;
    /* box-sizing: border-box; */
    border-collapse: collapse;
    min-width: 100%;
    font-size: 14px;
}
table tr th {
    padding: 10px;
    text-transform: capitalize;
    font-weight: 500;
    background-color: rgba(220, 220, 220, 0.826);
    margin: 0;
    /* text-align: left; */
}

table tr td {
    /* padding: 10px; */
    padding: 4px 10px;
    text-align: center;
}

table tr td:nth-child(4) {
    text-transform: capitalize;
}

table tr td:nth-child(2) {
    text-align: left;
}

table tr td:nth-child(3) {
}

table tr:nth-child(2n + 2) {
    background-color: #f2f2f2; /* Warna untuk baris ganjil */
}

.aksi {
    display: flex;
    gap: 10px;
    font-size: 23px;
    justify-content: center;
    justify-items: center;
}

.delete {
    color: red;
    /* font-size: 16px; */
}

.edit {
    color: rgb(107, 160, 26);
    /* font-size: 16px; */
}

.table {
    border: 1px solid rgb(197, 194, 194);
}

.tr {
    display: flex;
    gap: 10px;
}

/* mobile responsive */
@media screen and (max-width: 540px) {

    .artikelListWrapper {
        /* display: none; */
    }

    .tableGroup {
        /* border: 1px solid red; */
        width: 350px;
        padding: 10px;
        position: relative;
    }

   table {
    width: 100%;
   }

    table tr td:nth-child(2) {
        text-align: left;
        /* width: 200px; */
        /* word-break: break-word; */
    }
}
