.sidebar {
    min-height: 100vh;
    width: 300px;
    border: 1px solid rgb(191, 191, 191);
    padding: 10px;
    color: white;
    /* background-color: #087af4; */
    background-color: rgb(28, 28, 28);
}

.sidebarTitle {
    font-size: 25px;
    font-weight: 600;
    position: relative;
}

.sidebarTitleIcon {
    position: relative;
    top: 4px;
    font-size: 30px;
}

.sidebarMenu {
    /* border: 1px solid red; */
    margin-top: 10px;
}

.menu {
    /* border: 1px solid blue; */
    margin-top: 30px;
}

.menu ul li {
    /* border-top: 1px solid rgba(220, 220, 220, 0.211); */
    padding: 10px 6px;
    position: relative;
    font-size: 15px;
}

.menuIcon {
    /* border: 1px solid red; */
    position: relative;
    top: 1px;
    margin-right: 6px;
}

.menu h5 {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 10px;
    color: rgba(245, 245, 245, 0.762);
    padding: 5px;
    font-weight: 400;
}

/* button */
.buttonSidebar {
    display: none;
}

  .closeButton {
    display: none;
  }

/* mobile responsive */
@media screen and (max-width: 540px) {

    .buttonSidebar {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 2;
        /* background-color: none; */
    }

    .buttonSidebar button {
        font-size: 30px;
        padding: 10px;
        border: none;
        background: none;
    }

    .sidebar {
        position: fixed;
        z-index: 10;
        height: 100%;
        width: 100%;
        top: 0;
        /* border: 1px solid blue; */
        /* background-color: white; */
        transform: translateX(-100%);
        transition: all 0.5s;
    }

    .active {
        transform: translateX(0);
    }

    .closeButton {
        background-color: none;
        text-align: center;
        /* margin-top: 40px; */
        display: inline-block;
        position: fixed;
        /* border: 1px solid wheat; */
        top: 20px;
        left: 270px;
        /* right: -100px; */
        /* right: -200px; */
        z-index: 20;
    }

    .closeButton button {
        background: none;
        font-size: 26px;
        border: none;
        color: rgba(255, 255, 255, 0.779);
    }

}