

.about {
    margin: auto;
    position: relative;
    /* padding: 0; */
    /* border: 1px solid blue; */
    min-height: 100vh;
    padding-top: 20px;
    /* background-color: rgba(52, 53, 53, 0.205); */
}

.container {
    width: 1000px;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    gap: 15px;
    
}

.description {
    /* border: 1px solid blue; */
    position: relative;
    padding-left: 10px;
}
.description h1 {
    /* border: 1px solid red; */
    font-size: 70px;
    text-transform: capitalize;
    text-align: left;
    /* font-family: "Playwrite NZ Basic", cursive; */
    font-family: "Dancing Script", cursive;
    margin: 0;
    font-weight: 600;
    margin-left: 20px;

}
.description h3 {
    /* margin-bottom: 7px; */
    font-size: 35px;
    font-family: "Playwrite NZ Basic", cursive;
    position: relative;
}

.ability {
    font-size: 23px;
    font-family: "Playwrite NZ Basic", cursive;
    margin-bottom: 30px;
    display: inline-block;
    /* border: 1px solid red; */
    position: relative;
}

.ability::after {
content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #f5b150;
  margin-top: 10px;
}

.description p {
    margin-bottom: 10px;
    font-size: 15px;
    font-style: italic;
    font-family: "Playwrite NZ Basic", cursive;
}




@media screen and (max-width: 600px) {

    .about {
        display: block;
    }

    .container {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
    }

    .userPicture {
        width: 100%;
    }

    .userPicture img {
        width: 80%;
    }

    .description {
        padding: 10px;
        text-align: center;
    }

    .description h3 {
        font-size: 25px;
    }

    .description h1 {
        font-size: 27px;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .description h3 {
        font-size: 20px;
    }

     .description p {
        font-size: 14px;
     }

     .ability {
        margin-bottom: 5px;
     }

     .ability::after {
        content: "";
        display: block;
        width: 100px;
        height: 2px;
        background-color: red;
        margin-top: 10px;
        display: none;
        }

 }