

.about {
    margin: auto;
    position: relative;
    /* padding: 0; */
    /* border: 1px solid blue; */
    min-height: 100vh;
    padding-top: 20px;
    /* background-color: rgba(52, 53, 53, 0.205); */
    overflow: hidden;
}

.decoration {
    /* border: 1px solid red; */
    position: absolute;
    top: -260px;
    background-color: rgba(200, 198, 198, 0.23);
    width: 600px;
    height: 600px;
    z-index: -3;
    transform: rotate(50deg)
}

.container {
    width: 1000px;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    gap: 15px;
    position: relative;
    overflow: hidden;
}

.description {
    /* border: 1px solid blue; */
    position: relative;
    padding-left: 10px;
}
.description h1 {
    /* border: 1px solid red; */
    font-size: 85px;
    text-transform: capitalize;
    text-align: left;
    /* font-family: "Playwrite NZ Basic", cursive; */
    /* font-family: "Dancing Script", cursive; */
    font-family: "Cormorant Upright", serif;
    margin: 0;
    font-weight: 600;
    margin-left: 20px;

}
.description h3 {
    /* margin-bottom: 7px; */
    font-size: 35px;
    font-family: "Playwrite NZ Basic", cursive;
    position: relative;
}

.ability {
    font-size: 23px;
    font-family: "Playwrite NZ Basic", cursive;
    margin-bottom: 30px;
    display: inline-block;
    /* border: 1px solid red; */
    position: relative;
}

.ability::after {
content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #f5b150;
  margin-top: 10px;
}

.description p {
    margin-bottom: 10px;
    font-size: 15px;
    /* font-style: italic; */
    font-family: "Playwrite NZ Basic", cursive;
}

.link {
    /* border: 1px solid red; */
    /* position: absolute; */
    /* right: 0; */
    /* display: inline-block; */
    /* z-index: 10; */
    /* top: 0; */
    margin-top: 20px;
    margin-left: 20px;
}

.link h5 {
    font-size: 17px;
}

.link ul li a {
    /* color: blue; */
    font-size: 40px;
}

.link ul {
    display: flex;
    gap: 10px;
}

.link ul li:nth-child(1) a {
    color: rgb(72, 59, 244);
}
.link ul li:nth-child(2) a {
    color: rgb(240, 101, 134);
}





@media screen and (max-width: 600px) {

    .about {
        display: block;
    }

    .container {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
    }

    .userPicture {
        width: 100%;
    }

    .userPicture img {
        width: 80%;
    }

    .description {
        padding: 10px;
        text-align: center;
    }

    .description h3 {
        font-size: 25px;
    }

    .description h1 {
        font-size: 30px;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .description h3 {
        font-size: 20px;
    }

     .description p {
        font-size: 14px;
     }

     .ability {
        margin-bottom: 5px;
     }

     .ability::after {
        content: "";
        display: block;
        width: 100px;
        height: 2px;
        background-color: red;
        margin-top: 10px;
        display: none;
        }

    .link ul {
        display: flex;
        margin-top: 10px;
        gap: 10px;
        /* text-align: center; */
        align-items: center;
        justify-content: center;
        /* border: 1px solid red; */
    }

    .link ul li {
        /* border: 1px solid blue; */
    }

 }