.home {
  /* border: 1px solid #ccc; */
  min-height: 100vh;
  padding: 20px;
} 

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* border: 1px solid #ccc; */
  gap: 10px;
  /* padding: 20px; */
  /* padding: 10px; */
}

.box {
  width: 270px;
  height: 270px;
  /* border: 1px solid #ccc; */
  padding: 5px;
  /* text-align: center; */
  position: relative;
}

.box img {
  width: 100%;
  height: 80%;
  filter: grayscale(60%);
}

.box h3 {
  margin: 5px 0 0 0;
  font-size: 12px;
  /* text-transform: capitalize; */
  /* border: 1px solid #ccc; */
  width: 70%;
}

.detailLink {
  text-decoration: none;
  color: #000;
}

.commentCount {
  position: absolute;
  bottom: 28px;
  right: 5px;
  z-index: 10;
  font-size: 14px;
  color: #434343;
  display: inline-block;
  /* border: 1px solid #d22424; */
  
}

.commentIcon {
  /* margin-top: 20px; */
  /* border: 1px solid black; */
  padding: 0;
  width: 16px;
  height: 16px;
  margin-bottom: -4px;
}

.writer {
  /* position: absolute; */
  bottom: 15px;
  left: 5px;
  z-index: 10;
  font-size: 10px;
  color: #151313;
  display: inline-block;
}

.pageTitle {
  margin: 17px 0;
  /* font-size: 20px; */
  /* border: 1px solid #ccc; */
} 

.pageTitle::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #dc8307;
  margin-top: 10px;
}

.pageTitle h3 {
  font-size: 20px;
  text-transform: capitalize;
  /* border: 1px solid red; */
}









@media screen and (max-width: 600px) {

  .home {
    padding: 10px;
  }
    .container{
        /* display: block; */
        /* border: 1px solid #ccc; */
        display: block;
        padding: 0;
        margin: 0;
    }

  .box {
    width: 100%;
    height: 290px;
    margin-bottom: 10px;
    /* height: auto; */
  }

  .box img {
    height: 200px;
  }
}