.login {
    position: fixed;
    width: 100vw;
    height: 100vh;
    /* top: 0; */
    z-index: 120;
    top: 0;
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 400px;
    height: 500px;
    /* border: 1px solid blue; */
    background-color: white;
    padding: 46px;
}

.brand {
   font-size: 15px;
   margin-bottom: 20px;
}

.form {
    display: block;
    /* border: 1px solid red; */
}

form {
    /* height: 40px; */
    padding: 0 10px;
    font-size: 14px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formGroup label {
    font-size: 13px;
    margin-top: 10px;
    /* border: 1px solid red; */
}

.formGroup input {
    height: 40px;
    /* border: 1px solid #ccc; */
    padding: 0 10px;
    font-size: 14px;
    outline: none;
}

form button {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    /* border: 1px solid red; */
}