.home {
    min-height: 100vh;
    padding: 20px;
    margin-bottom: 50px;
}

.wrapperHome {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.card {
    width: 270px;
    padding: 5px;
    position: relative;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: 200px;
    filter: grayscale(40%);
}

.card h3 {
    width: 220px;
    /* border: 1px solid red; */
    font-size: 11px;
    margin-top: 1px;
    font-weight: 500;
}

.targetLink {
    text-decoration: none;
    color: #000;
    /* border: 1px solid red; */
    display: block;
    /* overflow: hidden; */
    width: 220px;
    text-overflow: ellipsis;
}

.totalComment {
    position: absolute;
    bottom: 22px;
    right: 5px;
    z-index: 10;
    font-size: 14px;
    color: #434343;
    display: inline-block;
    /* border: 1px solid #d22424; */
}

.iconComment {
    padding: 0;
    width: 16px;
    height: 16px;
    margin-bottom: -3px;
    /* border: 1px solid blue; */
}

.author {
    /* position: absolute; */
    /* bottom: 10px; */
    /* top: -2px; */
    left: 5px;
    z-index: 10;
    font-size: 10px;
    color: #151313;
    display: inline-block;
}

.pageTitle {
    margin: 17px 0;
}

.pageTitle::after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: #dc8307;
    margin-top: 10px;
}

.pageTitle h3 {
    font-size: 17px;
    text-transform: capitalize;
    /* border: 1px solid red; */
    font-weight: 500;
}

/* pagination */
.pagination {
    margin-top: 40px;
}

.pagination ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.pagination ul li button {
    background: none;
    padding: 10px 14px;
    font-size: 14px;
    border: none;
    /* border: 1px solid gainsboro; */
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: rgb(30, 29, 29);
}

/* teblet responsive */
@media (min-width: 540px) and (max-width: 1040px) {
    
}

/* mobile responsive */
@media screen and (max-width: 540px) {
    .home {
        padding: 10px;
    }

    .wrapperHome {
        display: block;
        padding: 0;
        margin: 0;
    }

    .card {
        width: 100%;
        height: 290px;
        margin-bottom: 10px;
        /* height: auto; */
    }

    .card img {
        height: 200px;
    }
}
