
.navbar {
    /* background-color: red; */
    /* background-color: rgb(32, 31, 31); */
    display: flex;
    position: relative;
    /* border-bottom: 1px solid #cccccc85; */
    /* padding: 20px; */
    /* padding-bottom: 10px; */
    /* border: 1px solid red; */
    background-color: rgb(245, 243, 243);
    position: fixed;
    z-index: 100;
    width: 100vw;
    /* border-bottom: 1px solid #c9c3c3; */
    top: 0;
    transition: all 0.3s ease;
}

.nonective {
    /* background-color: transparent; */
    transform: translateY(-100%);
    border-bottom: none;
    /* border: 1px solid red; */
    transition: all 0.3s ease;
}


/* button menu */
.buttonMenu {
    display: none;
}

/* web title */
.webTitle {
    font-size: 16px;
    font-weight: bold;
    /* color: #333; */
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    /* margin-bottom: 20px; */
    margin-right: 50px;
    /* text-transform: uppercase; */
    /* text-transform: capitalize; */
    /* border: 1px solid red; */
}

.webName {
    /* border: 1px solid red; */
    display: inline-block;
    width: 300px;
    text-transform: capitalize;
    /* text-transform: uppercase; */
    font-family: "Playwrite NZ Basic", cursive;
    color: rgb(44, 44, 44);
}

.webName img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    position: relative;
    bottom: -4px;
}

/* main menu */
.wrapperMenu {
    /* border: 1px solid red; */
    width: 100%;
    position: relative;
    /* margin-top: 15px; */
}
.wrapperMenu::-webkit-scrollbar {
        display: none;
    }
.menu {
    display: flex;
    /* gap: 20px; */
    /* margin-bottom: 30px; */
    /* padding: 3px; */
    /* border: 1px solid red; */
    position: relative;
    /* height: 40px; */
    margin: 0;

}

/* menu */
.menuActive {
    background-color: white !important;
}

.datalink {
    text-decoration: none;
    color: #1f2020;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    padding: 20px 15px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    /* letter-spacing: 1px; */
     /* border-left: 1px solid gainsboro; */
}

.datalink:hover {
    /* color: #dc8307; */
    transition: all 0.3s ease;
    /* background-color: #e0e0e0; */
    background-color: rgba(255, 255, 255, 0.919);
    /* padding: 4px 10px; */
    /* border-radius: 10px; */
    /* border-bottom: 2px solid #dc8307; */
}

/* account login & register */
.accountIdentity {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 13px;
    color: #333;
    font-weight: 500;
    /* border: 1px solid red; */
    display: inline-block;
}

.datalinkLogin {
    text-decoration: none;
    color: #5b5b5b;
    font-weight: 500;
    font-size: 14px;
    margin-right: 10px;
}

.datalinkSignup {
    text-decoration: none;
    color: #353638;
    font-weight: 500;
    font-size: 14px;
    background-color: #e0e0e0;
    border-radius: 20px; 
    padding: 5px 10px;
    border: 1px solid #ccc;
}






/* responsive */
@media screen and (max-width: 600px) {

    .navbar {
        color: rgb(26, 25, 25);
        padding-bottom: 20px;
        display: block;
        border: none;
        margin: 0;
        padding: 0px;
        /* position: relative; */
        position: fixed;
        min-height: auto;
        /* border: 1px solid red; */
        min-height: 80px;
        z-index: 50;
        /* border: 1px solid red; */
        /* background: transparent; */
        background-color: white;
        /* transform-origin: 5s 0; */
        transition: all 0.8s ease !important;
        /* border-bottom: 1px solid red; */
        padding-bottom: 0;
    }

    .buttonMenu {
        display: inline-block;
        position: absolute;
        z-index: 100;
        right:10px;
        font-size: 25px;
        color: rgb(52, 50, 50);
        cursor: pointer;
        /* background-color: #333; */
        padding: 10px;
        opacity: 0.8;
        transition: all 0.3s ease;
    }

    .webTitle {
        margin-right: 0;
        margin-bottom: 10px;
        color: rgb(20, 20, 20);
        font-size: 16px;
        padding: 10px;
        border: 1px solid rgb(222, 223, 221);
    }

    .menu {
        flex-direction: column;
        gap: 7px;
        width: 100%;
        /* min-height: 50vh; */
        padding: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(214, 213, 213);
        /* border-top: 1px solid gainsboro; */
        position: relative;
        background-color: white;
        margin: 0;
        height: auto !important;

    }

    .webName {
       color: rgb(9, 9, 9);
    }

    .wrapperMenu {
        background: none;
        width: 100%;
        height: 100vh;
        opacity: 0;
        transform: translateY(-187%);
        transition: all 0.8s ease;
        transform: translateY(-180%);
        transition: all 0.8s ease;
        position: fixed;
        z-index: 30;
        top: 0;
    }   

    .active {
        transform: translateX(0) !important;
        opacity: 1 !important;
        position: relative !important;
        width: 100% ;
        height: 100vh !important;
        background-color: white !important;
    }

    .datalink {
        font-size: 14px;
        color: rgb(32, 31, 31);
        margin-left: 10px;
        padding: 2px 4px;
        /* border: 1px solid red; */
        letter-spacing: 0;
    }

    .datalink:hover {
        background-color: transparent;
        border: none;
        color: #dc8307;

    }

    .accountIdentity {
        padding: 10px;
        margin: 0;
        display: block;
        border-bottom: none;
        background-color: white;
        width: 100%;
        position: relative;
        text-align: right;
        right: 0;
        top: 0;
        /* border: 1px solid red; */
    }

    .accountIdentity::after {
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        background-color: #dc8307;
        margin-top: 15px;
        right: 0;
    }

    .datalinkLogin {
        color: rgb(22, 21, 21);
        /* border: 1px solid red; */
        margin-top: 6px;
    }
}
