.about {
    margin: auto;
    position: relative;
    padding: 0;
    /* border: 1px solid red; */
}

.about .about-content {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    width: 1000px;
    margin: auto;
    padding-top: 40px;
}

.about .about-content .about-image {
    /* border: 1px solid red; */
    width: 100%;
}

.about .about-content .about-image img {
    object-fit: cover;
    filter: grayscale(60%);
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.about .about-content .about-description {
    max-width: 600px;
    margin: auto;
    /* position: absolute; */
    position: relative;
    /* margin: 0; */
}

.about .about-content .about-description h3 {
    font-size: 32px;
    margin-bottom: 10px;
}

.about  .about-content .about-description h3::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #f9c716;
    margin-top: 5px;
    /* margin: auto; */
}

.about .about-content .about-description p {
    font-size: 17px;
    /* border-left: 2px solid #f9c716; */
    /* padding-left: 10px; */
}


.about .about-content .about-description .medsos {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    font-size: 50px;
}

.about .about-content .about-description .medsos a {
    color: #333;
    transition: color 0.3s ease;
}

.about .album {
    margin-top: 50px;
    /* border: 1px solid red; */
    height: 200px;
    /* background-color: #f0f0f0; */
    /* background-color: rgb(224, 40, 40); */
}




/* responsive */
@media (max-width: 600px) {
    .about {
        width: 100%;
        /* border: 1px solid red; */
        margin: 0;
        padding: 0;
    }

    .about .about-content {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 0px;
        margin-top: 20px;
        gap: 0px;
    }

    .about .about-content .about-image {
        /* width: 250px; */
        /* height: 250px; */
        text-align: center;
        /* border: 1px solid red; */
    }

    .about .about-content .about-description {
        max-width: 100%;
        margin: 20px 0;
        font-size: 11px;
        /* border: 1px solid red; */
        padding: 14px;
        /* background-color: rgb(14, 16, 16); */
    }

    .about .about-content .about-description h3 {
        font-size: 32px;
        text-align: center;
        padding: 8px;
    }

    .about .about-content .about-description h3::after {
        width: 30px;
        height: 2px;
        margin: 5px auto;
    }

    .about .about-content .about-description p {
        font-size: 15px;
    }
    
}