.container-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.page-detail {
    padding: 20px;
    width: 75%;
    border-right: 1px solid #ccc;
    min-height: 100vh;
    position:  relative;
}

.container-detail .page-detail .breadcrumb {
    /* margin-bottom: 20px; */
    /* border: 1px solid #da1c1c; */
    position: absolute;
    top: -25px;
    left: 4px;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 7px;
    /* width: 50%; */
}

.container-detail .page-detail .breadcrumb ul {
    display: flex;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.container-detail .page-detail .breadcrumb ul li.separator {
    /* border: 1px solid red; */
    margin-top: 2px;
}

.page-detail h1 {
    font-size: 30px;
    color: #333;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.container-detail .page-detail .post-data {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    margin-top: 20px;
    /* border: 1px solid #ccc; */
    font-size: 13px;
    font-weight: 400;
    justify-content: center;
    font-style: italic;
}

.container-detail .page-detail .post-thumbnail {
    margin-top: 20px;
    margin: auto;
    /* border: 1px solid #bd1111; */
    margin-top: 24px;
    text-align: center;
}

.container-detail .page-detail .post-thumbnail img {
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
}

.container-detail .page-detail .post-content {
    margin-top: 20px;
    /* border: 1px solid #bd1111; */
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

@media (max-width: 768px) {
    .container-detail {
        /* flex-direction: column; */
        display: block;
        width: 100%;
        padding: 10px;
    }
    .page-detail {
        width: 100%;
        border-right: none;
        padding: 4px;
    }

    .container-detail h1 {
        font-size: 24px;
        margin-top: 40px;
    }

    .container-detail .page-detail .post-data {
        font-size: 12px;
    }
}