.detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    position: relative;
}
.page-detail {
    padding: 30px;
    width: 75%;
    border-right: 1px solid #ccc;
    min-height: 100vh;
    position:  relative;
    /* border: 1px solid red; */
}

.detail .page-detail .breadcrumb {
    /* border: 1px solid #da1c1c; */
    position: absolute;
    top: 20px;
    left: 4px;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 7px;
    /* width: 50%; */
}

.detail .page-detail .breadcrumb ul {
    display: flex;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.detail .page-detail .breadcrumb ul li.separator {
    /* border: 1px solid red; */
    margin-top: 2px;
}

.page-detail h1 {
    font-size: 30px;
    color: #333;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-top: 30px;
}

.detail .page-detail .post-data {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    margin-top: 20px;
    /* border: 1px solid #ccc; */
    font-size: 13px;
    font-weight: 400;
    justify-content: center;
    font-style: italic;
}

.detail .page-detail .post-thumbnail {
    margin-top: 20px;
    margin: auto;
    /* border: 1px solid #bd1111; */
    margin-top: 24px;
    text-align: center;
    position: relative;
}

.detail .page-detail .post-thumbnail img {
    width: 100%;
    height: 460px;
    /* border: 1px solid red; */
    filter: grayscale(65%);
}

.detail .page-detail .post-content {
    margin-top: 20px;
    /* border: 1px solid #bd1111; */
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.detail .share-buttons {
    position: absolute;
    top: 0;
    /* right: 0px; */
    /* border: 1px solid red; */
    left: 0px;
    z-index: 10;
    background-color: white;
    padding: 6px;
    border-bottom-right-radius: 10px;
}

.detail .share-buttons ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    padding-right: 10px;
}
.detail .share-buttons ul li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 25px;
}

.detail .share-buttons ul li a {
    /* font-size: 30px; */
    color: #333;
}










/* responsive mobile */
@media (max-width: 768px) {
    .detail {
        /* flex-direction: column; */
        display: block;
        width: 100%;
        padding: 12px;
        /* margin: 0; */
        /* border: 1px solid red; */
    }
    .page-detail {
        width: 100%;
        border-right: none;
        padding: 4px;
        margin-top: 10px;
    }

    .detail h1 {
        font-size: 24px;
        margin-top: 40px;
    }

    .detail .page-detail .post-data {
        font-size: 9px;
        /* display: block; */
    }
}