
header.navbar {
    /* background-color: red; */
    /* background-color: rgb(32, 31, 31); */
    display: flex;
    position: relative;
    /* border-bottom: 1px solid #cccccc85; */
    /* padding: 20px; */
    /* padding-bottom: 10px; */
    /* border: 1px solid red; */
    background-color: white;
    position: fixed;
    z-index: 100;
    width: 100vw;
    border-bottom: 1px solid #c9c3c3;
    top: 0;
}

/* button menu */
header.navbar .button-menu {
    display: none;
}

/* web title */
header.navbar .web-title {
    font-size: 16px;
    font-weight: bold;
    /* color: #333; */
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    /* margin-bottom: 20px; */
    margin-right: 50px;
    /* text-transform: uppercase; */
    /* text-transform: capitalize; */
    /* border: 1px solid red; */
}

header.navbar .web-title .web-name {
    /* border: 1px solid red; */
    display: inline-block;
    width: 300px;
    text-transform: capitalize;
    /* text-transform: uppercase; */
    font-family: "Playwrite NZ Basic", cursive;
    /* color: white; */
}

/* main menu */
.navbar .menu {
    display: flex;
    /* gap: 20px; */
    /* margin-bottom: 30px; */
    /* padding: 3px; */
    /* border: 1px solid red; */
    position: relative;
    /* height: 40px; */

}

header.navbar .wrapper-menu {
    /* border: 1px solid red; */
    width: 100%;
    position: relative;
    /* margin-top: 15px; */
}
/* menu */
header.navbar .wrapper-menu .menu {
    /* border: 1px solid red; */
    margin: 0;
}

header.navbar .wrapper-menu .menu .datalink {
    text-decoration: none;
    color: #353638;
    font-weight: 400;
    font-size: 17px;
    /* border: 1px solid red; */
    /* text-transform: uppercase */
    text-transform: capitalize;
    padding: 25px 15px;
    border-bottom: 2px solid transparent;
     transition: all 0.3s ease;
     letter-spacing: 1px;
     /* border-left: 1px solid gainsboro; */
}

header.navbar .wrapper-menu .menu .datalink:hover {
    /* color: #dc8307; */
    transition: all 0.3s ease;
    /* background-color: #e0e0e0; */
    background-color: #eea2388a;
    /* padding: 4px 10px; */
    /* border-radius: 10px; */
    border-bottom: 2px solid #dc8307;
}

/* account login & register */
header.navbar .wrapper-menu  .account-identity {
    position: absolute;
    right: 20px;
    top: 27px;
    font-size: 13px;
    color: #333;
    font-weight: 500;
    /* border: 1px solid red; */
    display: inline-block;
}

header.navbar .wrapper-menu  .account-identity .datalink-login {
    text-decoration: none;
    color: #353638;
    font-weight: 500;
    font-size: 14px;
    margin-right: 10px;
}

header.navbar .wrapper-menu  .account-identity .datalink-signup {
    text-decoration: none;
    color: #353638;
    font-weight: 500;
    font-size: 14px;
    background-color: #e0e0e0;
    border-radius: 20px; 
    padding: 5px 10px;
    border: 1px solid #ccc;
}






/* responsive */
@media screen and (max-width: 600px) {

    header.navbar {
        color: white;
        padding-bottom: 20px;
        display: block;
        border: none;
        margin: 0;
        padding: 0px;
        /* position: relative; */
        position: fixed;
        min-height: auto;
        /* border: 1px solid red; */
        min-height: 100px;
        z-index: 50;
        /* border: 1px solid red; */
        /* background: transparent; */
        background-color: rgb(20, 20, 20);
        /* transform-origin: 5s 0; */
        transition: all 0.8s ease !important;
        /* border-bottom: 1px solid red; */
        padding-bottom: 0;
    }

    header.navbar .button-menu {
        display: inline-block;
        position: absolute;
        z-index: 100;
        right:10px;
        font-size: 25px;
        color: rgb(244, 241, 241);
        cursor: pointer;
        /* background-color: #333; */
        padding: 10px;
        opacity: 0.8;
        transition: all 0.3s ease;
    }

    header.navbar .web-title {
        margin-right: 0;
        margin-bottom: 10px;
        color: rgb(20, 20, 20);
        font-size: 16px;
        padding: 10px;
        /* border: 1px solid rgb(69, 207, 35); */
    }

    header.navbar .menu {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        /* min-height: 50vh; */
        padding: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(214, 213, 213);
        position: relative;
        background-color: white;
        margin: 0;
        height: auto !important;

    }

    header.navbar .web-title .web-name {
       color: white;
    }

    header.navbar .wrapper-menu {
        background: none;
        width: 100%;
        height: 100vh;
        opacity: 0;
        transform: translateY(-187%);
        transition: all 0.8s ease;
        transform: translateY(-180%);
        transition: all 0.8s ease;
        position: fixed;
        z-index: 30;
        top: 0;
    }   

    header.navbar .wrapper-menu.active {
        transform: translateX(0) !important;
        opacity: 1 !important;
        position: relative !important;
        width: 100% ;
        height: 100vh !important;
        background-color: white !important;
    }

    header.navbar .wrapper-menu .menu .datalink {
        font-size: 14px;
        color: rgb(32, 31, 31);
        margin-left: 10px;
        padding: 2px 8px;
        /* border: 1px solid red; */
    }

    header.navbar .wrapper-menu .menu .datalink:hover {
        background-color: transparent;
        border: none;
        color: #dc8307;

    }

    header.navbar .wrapper-menu .account-identity {
        padding: 10px;
        margin: 0;
        display: block;
        border-bottom: none;
        background-color: white;
        width: 100%;
        position: relative;
        text-align: right;
        right: 0;
        top: 0;
        /* border: 1px solid red; */
    }

    header.navbar .wrapper-menu .account-identity::after {
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        background-color: #dc8307;
        margin-top: 15px;
        right: 0;
    }

    header.navbar .wrapper-menu .account-identity .datalink-login {
        color: rgb(22, 21, 21);
        /* border: 1px solid red; */
        margin-top: 6px;
    }
}
