

.navbar {
    /* background-color: red; */
    /* background-color: rgb(32, 31, 31); */
    display: flex;
    position: relative;
    /* border-bottom: 1px solid #cccccc85; */
    /* padding: 20px; */
    /* padding-bottom: 10px; */
    /* border: 1px solid red; */
    background-color: white;
    position: fixed;
    z-index: 100;
    width: 100vw;
    border-bottom: 1px solid #c9c3c3;
    top: 0;

}

.navbar .btn-menu {
    display: none;
}

.navbar .title-weblogid {
    font-size: 16px;
    font-weight: bold;
    /* color: #333; */
    color: white;
    display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
    /* margin-bottom: 20px; */
    margin-right: 50px;
    /* text-transform: uppercase; */
    /* text-transform: capitalize; */
    /* border: 1px solid red; */
}

.navbar .title-weblogid .web-name {
        /* border: 1px solid red; */
        display: inline-block;
        width: 300px;
        text-transform: capitalize;
        /* text-transform: uppercase; */
        font-family: "Playwrite NZ Basic", cursive;
        /* color: white; */
    }
/* .navbar .title-weblogid .web-name img {
    width: 130px;
} */


.navbar .menu {
    display: flex;
    /* gap: 20px; */
    /* margin-bottom: 30px; */
    /* padding: 3px; */
    /* border: 1px solid red; */
    position: relative;
    /* height: 40px; */

}

.navbar .navbar-menu {
    /* border: 1px solid red; */
    width: 100%;
    position: relative;
    /* margin-top: 15px; */
}

.navbar .menu .datalink {
    text-decoration: none;
    color: #353638;
    font-weight: 400;
    font-size: 17px;
    /* border: 1px solid red; */
    /* text-transform: uppercase */
    text-transform: capitalize;
    padding: 25px 15px;
    border-bottom: 2px solid transparent;
     transition: all 0.3s ease;
     letter-spacing: 1px;
     /* border-left: 1px solid gainsboro; */
}

.navbar .menu .datalink:hover {
    /* color: #dc8307; */
    transition: all 0.3s ease;
    /* background-color: #e0e0e0; */
    background-color: #eea2388a;
    /* padding: 4px 10px; */
    /* border-radius: 10px; */
    border-bottom: 2px solid #dc8307;
}

.navbar  .account-identity {
    position: absolute;
    right: 20px;
    top: 27px;
    font-size: 13px;
    color: #333;
    font-weight: 500;
}

.navbar  .account-identity .datalink-login {
    text-decoration: none;
    color: #353638;
    font-weight: 500;
    font-size: 14px;
    margin-right: 10px;
}

.navbar  .account-identity .datalink-signup {
    text-decoration: none;
    color: #353638;
    font-weight: 500;
    font-size: 14px;
    background-color: #e0e0e0;
    border-radius: 20px; 
    padding: 5px 10px;
    border: 1px solid #ccc;
}

























@media screen and (max-width: 600px) {
    .navbar-show {
    /* display: flex !important; */
     transform: translateX(0) !important;
     opacity: 1 !important;
     position: relative !important;
     width: 100% ;
     /* border-bottom: 1px solid #868484 !important; */
}

    .navbar {
        /* flex-direction: column; */
        /* align-items: flex-start; */
        /* height: auto; */
        /* background-color: rgb(22, 22, 22); */
        /* background-color: #252525; */
        /* background-color: rgb(243, 241, 241); */
        color: white;
        padding-bottom: 20px;
        /* box-shadow: #333 0px 2px 4px, #333 0px 4px 8px;
        border: none; */
        display: block;
        border: none;
        margin: 0;
        padding: 4px;
        /* position: relative; */
        position: fixed;
        min-height: auto;
        /* border: 1px solid red; */
        /* min-height: 100px; */
        z-index: 50;
        /* border: 1px solid red; */
        /* background: transparent; */
        background-color: rgb(20, 20, 20);
        /* transform-origin: 5s 0; */
        transition: all 0.8s ease !important;
    }

    .navbar .btn-menu {
    display: inline-block;
    /* border : 1px solid red; */
    position: absolute;
    z-index: 100;
    right:10px;
    font-size: 25px;
    color: rgb(244, 241, 241);
    cursor: pointer;
    /* background-color: #333; */
    padding: 10px;
}


    .navbar .account-identity {
        position: static;
        margin-top: 10px;
        border-bottom: 1px solid gainsboro;
    }

    .navbar .title-weblogid {
        margin-right: 0;
        margin-bottom: 10px;
        color: rgb(20, 20, 20);
        font-size: 16px;
        padding: 10px;
        /* border: 1px solid rgb(69, 207, 35); */
    }

    .navbar .menu {
        
        flex-direction: column;
        gap: 10px;
        /* border: 1px solid red; */
        /* display: none; */
        /* opacity: 0; */
        /* translate: 0 -100%; */
        /* transform: translateY(-187%); */
        /* transition: all 0.8s ease; */
        /* background-color: #333; */
        width: 100%;
        /* min-height: 50vh; */
        padding: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid gainsboro;
        position: relative;
        background-color: white;
        margin: 0;

    }

    .navbar .title-weblogid .web-name {
       color: white;
    }

    .navbar .navbar-menu {
        /* display: none; */
        background: none;
        width: 100%;
        height: 40vh;
        /* position: absolute; */
        /* display: flex; */
        opacity: 0;
         transform: translateY(-187%);
         transition: all 0.8s ease;
         /* border: 1px solid red; */
        /* border: 1px solid red; */
        /* height: 50vh; */
        transform: translateY(-180%);
        transition: all 0.8s ease;

        position: fixed;
        z-index: 30;
        top: 0;
        /* top: 100%; */
        /* left: 0; */
        /* width: 100%; */
        /* background-color: #333; */
        /* padding: 10px; */
        /* border: 1px solid red; */
    }   

    .navbar .menu .datalink {
        font-size: 14px;
        color: rgb(32, 31, 31);
        margin-left: 10px;
        /* padding: 14px 0; */
        /* margin: 0; */
        padding: 4px 10px;
    }

    .navbar .menu .datalink:hover {
        background-color: transparent;
        /* border-bottom: 2px solid #dc8307; */
        border: none;
        color: #dc8307;
    }

    .navbar .account-identity {
        /* display: none; */
        /* background-color: rgba(125, 212, 241, 0.648); */
        /* width: 100%; */
        /* display: block; */
        padding: 15px;
        margin: 0;
        display: block;
        border-bottom: none;
        background-color: white;
        width: 100%;
        /* opacity: 0; */
        /* transform: translateY(-187%); */
        /* transition: all 0.8s ease; */
        /* border: 1px solid red; */
        position: relative;
        /* z-index: 50; */
        text-align: right;
        /* border: 1px solid rgb(0, 166, 255); */
        /* position: relative !important; */
        /* display: inline-block; */
        right: 0;
        top: 0;
        /* bottom: -40px; */
    }

    .navbar .account-identity::after {
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        background-color: #dc8307;
        margin-top: 15px;
        right: 0;
    }

    .navbar .account-identity .datalink-login {
        color: rgb(22, 21, 21);
        /* border: 1px solid red; */
        margin-top: 6px;
    }
}

.navbar-show {
    /* display: flex !important; */
     transform: translateX(0) !important;
     opacity: 1 !important;
     position: relative !important;
     width: 100% !important;
}