.page-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #f0f0f0;
}

.page-not-found h1 {
    font-size: 3rem;
    color: #333;
}

.page-not-found img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}