.page-search {
  padding: 30px;
  /* background-color: #f9f9f9; */
  /* margin-top: 40px; */
  /* border: 1px solid #c93131; */
  position: relative;
  margin-top: 100px;
}

.page-search .search-area {
  display: block;
  margin: 0 auto;
  position: relative;
   border-radius: 50px;
   /* border-bottom-left-radius: 50px; */
    /* border-top-left-radius: 50px; */
  /* border: 1px solid #ccc; */
  width: 90%;
  border: 1px solid #c9c3c3;
  padding: 4px;
}

.page-search .search-area input[type="text"] {
  width: 100%;
  padding: 5px;
  border: none;
  /* border-radius: 50px;
  border: 1px solid #ccc; */
  font-size: 16px;
  outline: none;
  background-color: transparent;
}

.page-search .search-area button {
    /* display:  none; */
  position: absolute;
  right: 0;
  /* padding: 10px 15px; */
  /* border: 1px solid #ccc; */
  /* background-color: #007BFF; */
  color: rgb(32, 31, 31);
  /* border-radius: 0 4px 4px 0; */
  cursor: pointer;
  border: none;
  font-size: 17px;
  position: absolute;
  border-left: 1px solid #c9c3c3;
  padding: 0px;
  top: 0;
  background: transparent;
  /* background-color: turquoise; */
  /* background-color: #4848489b; */
  height: 100%;
  width: 100px;
  /* border: 1px solid #c9c3c3; */
  /* border-left: 1px solid #c9c3c3; */

    /* border-top-right-radius: 50px; */
    /* border-bottom-right-radius: 50px; */
}

@media screen and (max-width: 600px) {

  .page-search {
    padding: 20px;
    /* border: 1px solid #c9c3c3; */
    margin: 0;
    margin-top: 130px;
  }
    .page-search .search-area {
        width: 100%;
    }

    .page-search .search-area button {
        width: 80px;
    }

}