.search {
  padding: 30px;
  position: relative;
  margin-top: 100px;
}

.search .search-area {
  display: block;
  margin: 0 auto;
  position: relative;
  border-radius: 50px;
  width: 90%;
  border: 1px solid #c9c3c3;
  padding: 4px;
}

.search .search-area input[type="text"] {
  width: 100%;
  padding: 5px;
  border: none;
  font-size: 16px;
  outline: none;
  background-color: transparent;
}

.search .search-area button {
  position: absolute;
  right: 0;
  color: rgb(32, 31, 31);
  cursor: pointer;
  border: none;
  font-size: 17px;
  position: absolute;
  border-left: 1px solid #c9c3c3;
  padding: 0px;
  top: 0;
  background: transparent;
  height: 100%;
  width: 100px;
}

/* responsive */
@media screen and (max-width: 600px) {

  .search {
    padding: 20px;
    /* border: 1px solid #c9c3c3; */
    margin: 0;
    margin-top: 130px;
  }

  .search .search-area {
        width: 100%;
  }

  .search .search-area button {
        width: 80px;
  }

}