@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+NZ+Basic:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    font-family: "Mona Sans", sans-serif;
    /* background-color: rgb(239, 238, 238); */
    color: #333;
}

.bodyArea {
    border-top: 1px solid #dddddd2f;
    min-height: 50vh;
    padding: 0;
}

.loading-container {
    display: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 100;
    margin: auto;
    text-align: center;
}

.loading-container img {
    width: 100px;
    height: 100px;
}

.text-decoration-none { text-decoration: none; }
.font-500 { font-weight: 500; }
.text-capitalizer { text-transform: capitalize; }
.color-dark { color: #1e1d1d; }

ul li { list-style: none; }
a { color: #333;text-decoration: none; }

/* responsive */
@media screen and (max-width: 600px) {
    
    .color-white { color: #fff; }
    .body-area {
        padding: 0px;
    }
}