@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    /* font-family: Arial, sans-serif; */
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    /* padding: 20px; */
}

.body-area {
    /* padding: 20px; */
    border-top: 1px solid #dddddd2f;
    min-height: 100vh;
}

.loading-container {
    display: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 100;
    margin: auto;
    /* border: 1px solid red; */
    text-align: center;
}

.loading-container img {
    width: 100px;
    height: 100px;
}

.text-decoration-none {
    text-decoration: none;
    /* color: #333; */
    /* border:  1px solid #333; */
}

.font-500 {
    font-weight: 500;
}

.text-capitalizer {
    text-transform: capitalize;
}

.color-dark {
    color: #1e1d1d;
}

@media screen and (max-width: 600px) {
    /* .body-area {
        padding: 10px;
    } */
    
    .color-white {
        color: #fff;
    }

    .body-area {
        padding: 20px;
    }
}