@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+NZ+Basic:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mona Sans", sans-serif;
    color: #333;
}

/* loading animation */
.loading {
    display: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 100;
    margin: auto;
    text-align: center;
    /* border: 1px solid red; */
}

.loading img {
    width: 100px;
    height: 100px;
}
/* end */

ul li { list-style: none; }
a { color: #333;text-decoration: none; }
.divider {
    /* background-color: gainsboro; */
    /* padding: 1px; */
    border-bottom: 1px solid rgba(220, 220, 220, 0.418);
}

/* admin panel */
.adminContent {
    /* border: 1px solid blue; */
    width: auto;
    padding: 20px;
}