.container {
    /* border: 1px solid red; */
    min-height: 100vh;
    display: flex;
}

.content {
    width: 100%;
    min-height: 100vb;
    /* background-color: gainsboro; */
    padding: 20px;
   
}

.core {
    border: 1px solid rgba(216, 211, 211, 0.89);
    padding: 15px;
    min-height: 100%;
}

/* mobile responsive */
@media screen and (max-width: 540px) {

    .container {
        display: inline-block;
        min-height: 100vh;
        width: 100%;
        gap: 0;
        /* border: 1px solid #ff007b; */
        /* background-color: #ff007b; */
    }

    .content {
         margin-top: 70px;
         width: 100%;
         padding: 0;
         min-height: 100vh;
         /* border: 1px solid rgb(9, 246, 88); */
         position: relative;
         /* background-color: red; */
    }

    .core {
        /* width: 100%; */
        height: 100%;
        border: 1px solid rgb(229, 233, 229);
        padding: 10px;
    }

}